<main class="container-fluid">
  @if (player(); as p) {
  <div class="row g-4 justify-content-center mx-4">
    <div class="col-lg-8">
      <div class="d-flex flex-column gap-3">
        <div class="row g-3">
          <div class="col-md-5">
            <img [src]="p.img" [alt]="p.nombre" class="img-fluid rounded-3 custom-height-img w-100 object-fit-cover" 
            style="object-position: top;" >
          </div>
          <div class="col-md-7">
            <div class="custom-card p-4 h-100 d-flex flex-column justify-content-center">
              @if (!isEditing()) {
                <h2 class="fw-bold" style="color:#e69520">{{ p.nombre }}</h2>
                <p><strong>Equipo: </strong> 
                <span>{{p.equipo }}</span></p>
                <p><strong>Posición: </strong>
                <span>{{p.posicion }}</span></p>
                <p><strong>Altura: </strong>
                <span>{{p.altura }}</span></p>
                <p><strong>Edad: </strong>
                <span>{{p.edad }}</span></p>
              }@else {
                <div class="search-group d-flex flex-row align-items-center gap-3">
                  <strong style="color: #7B42F6;">Nombre: </strong>
                  <input [(ngModel)]="p.nombre" type="text" class="form-control custom-search-input" placeholder="Nombre">
                </div>
                <div class="search-group d-flex align-items-center gap-3">
                  <strong style="color: #7B42F6;">Equipo: </strong>
                  <input [(ngModel)]="p.equipo" class="form-control custom-search-input" placeholder="Equipo">
                </div>
                <div class="search-group d-flex align-items-center gap-3">
                  <strong style="color: #7B42F6;">Posición: </strong>
                  <input [(ngModel)]="p.posicion" class="form-control custom-search-input" placeholder="Posición">
                </div>
                <div class="search-group d-flex align-items-center gap-3">
                  <strong style="color: #7B42F6;">Altura: </strong>
                  <input [(ngModel)]="p.altura" class="form-control custom-search-input" placeholder="Altura">
                </div>
                <div class="search-group d-flex align-items-center gap-3">
                  <strong style="color: #7B42F6;">Edad: </strong>
                  <input [(ngModel)]="p.edad" class="form-control custom-search-input" placeholder="Edad">
                </div>
              }
            </div>
          </div>
        </div>
        <div class="row g-3">
          <div class="col-md-5">
            <div class="custom-card p-4 h-100 d-flex flex-column justify-content-center">
              <h2 class="fw-bold">El Míster</h2>
              <p><strong>Nombre:</strong> Alex Sabater</p>
              <p><strong>Edad:</strong> 33</p>
              <p><strong>Ocupación:</strong> Director técnico deportivo</p>
              <p><strong>Objetivos:</strong> Acceder a datos de jugadores</p>
              <div class="d-flex flex-row gap-2 mt-3 align-items-stretch">
                @if (!isEditing()) {
                  <button class="btn btn-custom flex-fill d-flex flex-column align-items-center justify-content-center"
                    (click)="deletePlayer(p)">
                    Eliminar jugador
                  </button>
                  <button class="btn btn-custom flex-fill d-flex flex-column align-items-center justify-content-center"
                    (click)="isEditing.set(!isEditing())">
                      Editar jugador
                  </button>
                } @else {
                  <button 
                    type="button" 
                    class="btn btn-custom-inversed"
                    (click)="saveChanges(p)">
                    Guardar cambios
                  </button>
                  <button class="btn btn-custom-inversed flex-fill d-flex flex-column align-items-center justify-content-center"
                    (click)="isEditing.set(!isEditing())">
                      Cancelar edición
                  </button>
                }
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="custom-card p-4 h-100">
              <h2 class="fw-bold" style="color: #e69520;">Promedio de la temporada</h2>
              
              <div class="stat-row">
                <span>Puntos por partido (PPP)</span>
                @if(!isEditing()) {
                  <span class="stat-badge">{{ p.pPP }}</span>
                } @else {
                  <input [(ngModel)]="p.pPP" type="number" class="form-control form-control-sm d-inline-block w-auto ms-2" placeholder="PPP">
                }
              </div>
              <div class="stat-row">
                <span>Rebotes por partido (RPP)</span>
                @if(!isEditing()) {
                  <span class="stat-badge">{{ p.rPP }}</span>
                } @else {
                  <input [(ngModel)]="p.rPP" type="number" class="form-control form-control-sm d-inline-block w-auto ms-2" placeholder="RPP">
                }
              </div>
              <div class="stat-row">
                <span>Asistencias por partido (APP)</span>
                @if(!isEditing()) {
                  <span class="stat-badge">{{ p.aPP }}</span>
                } @else {
                  <input [(ngModel)]="p.aPP" type="number" class="form-control form-control-sm d-inline-block w-auto ms-2" placeholder="APP">
                }
              </div>
              <div class="stat-row border-0">
                <span>Porcentaje Tiros de Campo (%TC)</span>
                @if(!isEditing()) {
                  <span class="stat-badge">{{ p.porcentajeTiros }}%</span>
                } @else {
                  <input [(ngModel)]="p.porcentajeTiros" type="number" class="form-control form-control-sm d-inline-block w-auto ms-2" placeholder="%TC">
                    
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <app-media [player]="p" class="rounded-3 overflow-hidden d-block"></app-media>
    </div>

  </div>
  } @else {
  <div class="text-center py-5">
    <p class="lead">Jugador no encontrado.</p>
  </div>
  }
</main>