<main class="container-fluid">
  @if (player(); as p) {
  <div class="row g-4 justify-content-center mx-4">
    <div class="col-lg-8">
      <div class="d-flex flex-column gap-3">
        <div class="row g-3">
          <div class="col-md-5">
            <img [src]="p.img" [alt]="p.nombre" class="img-fluid rounded-3 custom-height-img w-100 object-fit-cover" 
            style="object-position: top;" >
          </div>
          <div class="col-md-7">
            <div class="custom-card p-4 h-100 d-flex flex-column justify-content-center">

              @if (!isEditing()) {
              <h2 class="fw-bold">{{ p.nombre }}</h2>
              }@else {
                <input [(ngModel)]="p.nombre" type="text" class="form-control mb-2 fw-bold fs-2" placeholder="Nombre">
              }
              <p><strong>Equipo:</strong> 
                @if (!isEditing()) {
                  <span>{{p.equipo }}</span>
                } @else {
                  <input [(ngModel)]="p.equipo" class="form-control form-control-sm d-inline-block w-auto ms-2" placeholder="Equipo">
                }
              </p>
              <p><strong>Posición:</strong>
                  @if (!isEditing()) {
                    <span>{{p.posicion }}</span>
                  } @else {
                    <input [(ngModel)]="p.posicion" class="form-control form-control-sm d-inline-block w-auto ms-2" placeholder="Posición">
                  }
              </p>
              <p><strong>Altura:</strong>
                @if (!isEditing()) {
                  <span>{{ p.altura }}</span>
                } @else {
                  <input [(ngModel)]="p.altura" class="form-control form-control-sm d-inline-block w-auto ms-2" placeholder="Altura">
                }
              </p>
              <p><strong>Edad:</strong>
                @if (!isEditing()) {
                  <span>{{ p.edad }}</span>
                } @else {
                  <input [(ngModel)]="p.edad" class="form-control form-control-sm d-inline-block w-auto ms-2" placeholder="Edad">
                }
              </p>
            </div>
          </div>
        </div>
        <div class="row g-3">
          <div class="col-md-5">
            <div class="custom-card p-4 h-100 d-flex flex-column justify-content-center">
              <h2 class="fw-bold">El Míster</h2>
              <p><strong>Nombre:</strong> Alex Sabater</p>
              <p><strong>Edad:</strong> 33</p>
              <p><strong>Ocupación:</strong> Director técnico deportivo</p>
              <p><strong>Objetivos:</strong> Acceder a datos de jugadores</p>
              <div class="d-flex flex-row gap-2 mt-3 align-items-stretch">
                <button class="btn btn-custom flex-fill d-flex flex-column align-items-center justify-content-center"
                  (click)="deletePlayer(p)">
                  <span>🗑️</span>
                  Eliminar jugador
                </button>
                <button class="btn btn-custom flex-fill d-flex flex-column align-items-center justify-content-center"
                  (click)="isEditing.set(!isEditing())">
                  @if(isEditing()) {
                    <span>❌</span>
                    <span>Cancelar edición</span>
                  } @else {
                    <span>✏️ </span>
                    <span>Editar Jugador</span>
                  }
                </button>

                @if (isEditing()){
                  <button 
                  type="button" 
                  class="btn btn-success flex-fill d-flex flex-column align-items-center justify-content-center"
                  (click)="saveChanges(p)">
                <span>💾</span>
                <span style="font-size: 0.8rem;"> Guardar cambios</span>
                </button>
                }
          </div>
          </div>
          </div>

          <div class="col-md-7">
            <div class="custom-card p-4 h-100">
              <h2 class="fw-bold" style="color: #e69520;">Promedio de la temporada</h2>
              
              <div class="stat-row">
                <span>Puntos por partido (PPP)</span>
                @if(!isEditing()) {
                  <span class="stat-badge">{{ p.pPP }}</span>
                } @else {
                  <input [(ngModel)]="p.pPP" type="number" class="form-control form-control-sm d-inline-block w-auto ms-2" placeholder="PPP">
                }
              </div>
              <div class="stat-row">
                <span>Rebotes por partido (RPP)</span>
                @if(!isEditing()) {
                  <span class="stat-badge">{{ p.rPP }}</span>
                } @else {
                  <input [(ngModel)]="p.rPP" type="number" class="form-control form-control-sm d-inline-block w-auto ms-2" placeholder="RPP">
                }
              </div>
              <div class="stat-row">
                <span>Asistencias por partido (APP)</span>
                @if(!isEditing()) {
                  <span class="stat-badge">{{ p.aPP }}</span>
                } @else {
                  <input [(ngModel)]="p.aPP" type="number" class="form-control form-control-sm d-inline-block w-auto ms-2" placeholder="APP">
                }
              </div>
              <div class="stat-row border-0">
                <span>Porcentaje Tiros de Campo (%TC)</span>
                @if(!isEditing()) {
                  <span class="stat-badge">{{ p.porcentajeTiros }}%</span>
                } @else {
                  <input [(ngModel)]="p.porcentajeTiros" type="number" class="form-control form-control-sm d-inline-block w-auto ms-2" placeholder="%TC">
                    
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <app-media [player]="p" class="rounded-3 overflow-hidden d-block"></app-media>
    </div>

  </div>
  } @else {
  <div class="text-center py-5">
    <p class="lead">Jugador no encontrado.</p>
  </div>
  }
</main>
